@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
/* Reset */

/* Declaración de variables */
:root {
    --background-color: #020f25;
    --navbar-color: #0c2042;
    --font-color: #D5E2FF;
    --logo-color: #27bd4d;
    --hover-color: #2c7741;
    --menunav-color: #000;
    --fondonav-color: #1b3b52;
    --backmess-color: #1e4157ac;
    --explica-color: #d5e40e9f;
}

/* Reinicio de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración del Body */
body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    width: 100%;
    background: var(--navbar-color);
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-left span{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--logo-color);   
}
.navbar-right {
    margin-right: 1rem;
}
.navbar-right a {
    color: var(--font-color);
    font-size: 1.1rem;
    text-decoration: none;
    margin-left: 0.8rem;
}
.navbar-right a:hover {
    text-decoration: underline;
    font-size: 1.1rem;
    color: var(--hover-color);
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    color: var(--font-color);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fondonav-color); 
    margin-top: 2px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    z-index: 1;
}
.dropdown-content a {
    color: var(--font-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}
.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--menunav-color);
    border-radius: 15px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    font-weight: bold;
    color: var(--font-color);
}

.separador {
    margin-top: 5rem;
}

/* Bloque por línea - Main */
.main-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin-top: 20px;
}
.container {
    background-color: var(--backmess-color);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.logo_nav_bar {
    margin-left: 0.5rem;
    width: 50px;
    height: auto;
    border-radius: 5px;
}
.nombre_web {
    margin-left: 1rem;
}
.titulo_ppal {
    text-align: center;
    font-size: 2rem;
    color: var(--font-color);
    margin-bottom: 2rem;
}
.wallpaper_bienvenida {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
.img_wallpaper {
    width: 550px;
    height: auto;
}
.logos {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
.logo {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;
}
.subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 10px;
}
.comandos {
    padding: 10px;
}
.explica {
    color: var(--explica-color);
    font-size: 0.8rem;
}
