@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* VARIABLES DE LA WEB */
:root {
    --background-color: #020f25;
    --navbar-color: rgba(12, 32, 66, 0.6);
    --font-color: #D5E2FF;
    --logo-color: #27bd4d;
    --hover-color: #2c7741;
    --menunav-color: #000;
    --consola-color: #000000be;
    --fondonav-color: #1b3b52;
    --backmess-color: #1e4157ac;
    --explica-color: #d5e40e9f;
    --boton-color: #2651dd;

    
}
/* REINICIO ESTILOS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURA BODY */
body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: var(--navbar-color);
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 0.6rem;
    align-items: center;
}
/* .navbar-left {
    display: flex;
    align-items: center;
} */
.navbar-left span{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--logo-color);   
}
.navbar-right {
    margin-right: 1rem;
}
.navbar-right a {
    color: var(--font-color);
    font-size: 1.1rem;
    text-decoration: none;
    margin-left: 0.8rem;
}
.navbar-right a:hover {
    text-decoration: underline;
    font-size: 1.1rem;
    color: var(--hover-color);
    font-weight: bold;
}
.logo_nav_bar {
    margin-left: 0.5rem;
    width: 3.2rem;
    height: auto;
    border-radius: 5px;
}
.nombre_web {
    margin-left: 1rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    color: var(--font-color);
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fondonav-color); 
    margin-top: 2px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    z-index: 1;
}
.dropdown-content a {
    color: var(--font-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}
.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--menunav-color);
    border-radius: 15px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    font-weight: bold;
    color: var(--font-color);
}

/* SEPARADORES-MARGENES */
.separador {
    margin-top: 5rem;
}
.margen {
    margin-bottom: 1.2rem;
}

/* BLOQUE DE CONTENIDO MAIN */
.main-content {
    display: flex;
    gap: 1.8rem;
    padding: 1rem;
    width: 90%;
    margin-top: 2rem;
}
.main-content-doble {
    display: flex;
    gap: 1.8rem;
    padding: 1rem;
    width: 90%;
    margin-top: 2rem;
}
.container {
    background-color: var(--backmess-color);
    padding: 2rem;
    border-radius: 8px;
    flex: 1;
}
.content-acerca {
    font-size: 1.5rem;
    padding: 0 2rem;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: var(--menunav-color);
}
.container-vacio {
    background-color: transparent;
    padding: 2rem;
    border-radius: 8px;
    flex: 1;
}
.titulo_ppal {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: var(--font-color);
    margin-bottom: 2rem;
}
.logos {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 10px;
}
.logo {
    width: 5rem;
    height: auto;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
.subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 10px;
}
.comandos {
    padding: 1.2rem;    
}
.explica {
    color: var(--explica-color);
    font-size: 0.8rem;
}
.consolacmd {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    background-color: var(--consola-color);
    color: var(--font-color);
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1.2rem;
}
.boton {
    background-color: var(--boton-color);
    color: var(--menunav-color);
    padding: 0.5px 8px;
    border-radius: 10px;
}
button {
    margin-top: 2rem;
    background: transparent;
    color: var(--font-color);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }
  button a {
    text-decoration: none;
    color: var(--font-color);
  }
  
  button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
      320deg,
      rgba(0, 140, 255, 0.678),
      rgba(128, 0, 128, 0.308)
    );
    z-index: 1;
    transition: background 3s;
  }
  
  button:hover::before {
    animation: rotate 1s;
    transition: all 0.5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }
  

/* RESPONSIVE */
@media (max-width: 1260px){
    .consolacmd {
        font-size: 0.6rem;
    }
}

@media (max-width: 1000px) {
    .navbar-left span{
        font-size: 2.4rem;
    }
    .navbar-right {
        margin-right: 1rem;
    }
    .navbar-right a {
        font-size: 1rem;
        margin-left: 0.8rem;
    }
    .navbar-right a:hover {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .logo_nav_bar {
        margin-left: 0.5rem;
        width: 3rem;
    }
    .nombre_web {
        margin-left: 1rem;
    }
    .titulo_ppal {
        text-align: center;
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }
    .logos {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 10px;
    }
    .logo {
        width: 4rem;
        height: auto;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }  
    .consolacmd {
        font-size: 0.5rem;
    }    
}
@media (max-width: 890px) {
    .navbar-left span{
        font-size: 2.2rem;
    }
    .navbar-right {
        margin-right: 1rem;
    }
    .navbar-right a {
        font-size: 0.9rem;
        margin-left: 0.8rem;
    }
    .navbar-right a:hover {
        font-size: 1rem;
        font-weight: bold;
    }
    .logo_nav_bar {
        margin-left: 0.5rem;
        width: 2.8rem;
    }
    .nombre_web {
        margin-left: 1rem;
    }
    .titulo_ppal {
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }
    .logos {
        display: block;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo {
        width: 5rem;
        height: auto;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }  
    .consolacmd {
        font-size: 0.8rem;
    }
    .separador {
        margin-top: 6.5rem;
    }
    .main-content-doble {
        display: block;
        gap: 1.8rem;
        padding: 1rem;
        width: 90%;
        margin-top: 0;
    }
    .container {
        margin-bottom: 2rem;
        padding: 2rem;
        flex: 1;
    }
}
@media (max-width: 760px) {
    .navbar {
        width: 100%;
        display: block;
        position: fixed;
        justify-content: center;
        padding: 0.6rem;
        align-items: center;
        text-align: center;
    }
    .navbar-left span{
        font-size: 2.2rem;
    }
    .navbar-right {
        margin-right: 1rem;
    }
    .navbar-right a {
        font-size: 0.9rem;
        margin-left: 0.8rem;
    }
    .navbar-right a:hover {
        font-size: 1rem;
        font-weight: bold;
    }
    .logo_nav_bar {
        margin-left: 0.5rem;
        width: 2.8rem;
    }
    .nombre_web {
        margin-left: 1rem;
    }
    .titulo_ppal {
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }
    .logos {
        display: block;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo {
        width: 5rem;
        height: auto;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }  
    .separador {
        margin-top: 7rem;
    }
}
@media (max-width: 620px) {
    .navbar {
        width: 100%;
        display: block;
        position: fixed;
        justify-content: center;
        padding: 0.6rem;
        align-items: center;
        text-align: center;
    }
    .navbar-left span{
        font-size: 2.2rem;
    }
    .navbar-right {
        margin-right: 1rem;
    }
    .navbar-right a {
        font-size: 0.9rem;
        margin-left: 0.8rem;
    }
    .navbar-right a:hover {
        font-size: 1rem;
        font-weight: bold;
    }
    .logo_nav_bar {
        margin-left: 0.5rem;
        width: 2.8rem;
    }
    .nombre_web {
        margin-left: 1rem;
    }
    .titulo_ppal {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .logos {
        display: block;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo {
        width: 3.8rem;
        height: auto;
        padding: 0 0.4rem;
        margin-bottom: 1rem;
    }  
    .main-content {
        display: flex;
        gap: 1.8rem;
        padding: 0;
        width: 90%;
        margin-top: 2rem;
    }
    .container {
        background-color: var(--backmess-color);
        padding: 0.5rem;
        border-radius: 8px;
        flex: 1;
    }
    
}
@media (max-width: 440px) {
    .navbar {
        width: 100%;
        display: block;
        position: fixed;
        justify-content: center;
        padding: 0.6rem;
        align-items: center;
        text-align: center;
    }
    .navbar-left span{
        font-size: 1.8rem;
    }
    .navbar-right {
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .navbar-right a {
        font-size: 0.8rem;
        margin-left: 0.8rem;
    }
    .navbar-right a:hover {
        font-size: 1rem;
        font-weight: bold;
    }
    .logo_nav_bar {
        margin-left: 0.5rem;
        width: 2.4rem;
    }
    .nombre_web {
        margin-left: 1rem;
    }
    .titulo_ppal {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .logos {
        display: block;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo {
        width: 3rem;
        height: auto;
        padding: 0 0.4rem;
        margin-bottom: 1rem;
    }  
    .main-content {
        display: flex;
        gap: 1.8rem;
        padding: 0;
        width: 90%;
        margin-top: 2rem;
    }
    .container {
        background-color: var(--backmess-color);
        padding: 0.5rem;
        border-radius: 8px;
        flex: 1;
    }
    
}
