<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emmanuel Sierra</title>

    <meta name="description"
        content="Página WEB con Tips, Información, Recursos y Herramientas para Desarrolladores de Aplicaciones GUI y WEB">
    <meta name="keywords"
        content="Desarrollo, WEB, GUI, Programación, Lenguajes, Python, PHP, JavaScript, Django, Flask, Tkinter, Laravel">
    <meta name="author" content="Emmanuel Sierra Pacheco - Desarrolador Aplicaciones GUI y WEB">
    <meta name="robots" content="index, follow">

    <meta http-equiv="content-language" content="es">

    <link rel="stylesheet" href="./../estilos.css">
    <link rel="shortcut icon" href="./../img/develop.ico" type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <img src="./../img/Logo.jpg" alt="" class="logo_nav_bar">
            <span class="nombre_web">Emmanuel Sierra</span>
        </div>
        <div class="navbar-right">
            <a href="./../../index.html">Inicio</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Tips</a>
                <div class="dropdown-content">
                    <a href="./git.html">Git/GitHub</a>
                    <a href="./python.html">Python</a>
                    <a href="./php.html">PHP / Laravel</a>
                    <a href="./bd.html">Base de Datos</a>
                </div>
            </div>
            <a href="./recursos.html">Recursos</a>
            <a href="./acerca.html">Acerca</a>
        </div>
    </nav>

    <div class="separador"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Contenedor 1 -->
        <div class="container">
            <h2 class="titulo_ppal">Acerca de mi</h2>

            <div class="content-acerca">
                <p>
                    Hola, mi nombre es Emmanuel Sierra Pacheco y soy un desarrollador apasionado por la tecnología. Vivo en Caracas, Venezuela y me dedico al desarrollo de aplicaciones GUI y WEB, a lo largo de mi carrera me he especializado en crear soluciones innovadoras y funcionales para diversas necesidades digitales. Mi objetivo con es lograr experiencias de usuario excepcionales y productos de alta calidad.
                    Si quieres conocer más sobre mi perfil y trabajo, presiona el botón.
                </p>
                
                <button>
                    <a target="_blank" href="https://www.google.com">Portfolio</a>
                </button>

            </div>

        </div>
        <script src="./assets/main.js"></script>
</body>

</html>