<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Emmanuel Sierra</title>
    <link rel="stylesheet" href="./../estilos.css">
    <link rel="shortcut icon" href="./../img/develop.ico" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <img src="./assets/img/Logo.jpg" alt="" class="logo_nav_bar">
            <span class="nombre_web">Emmanuel Sierra</span>
        </div>
        <div class="navbar-right">
            <a href="./../../index.html">Inicio</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Tips</a>
                <div class="dropdown-content">
                    <a href="./git.html">Git/GitHub</a>
                    <a href="./python.html">Python</a>
                    <a href="./php.html">PHP / Laravel</a>
                    <a href="./bd.html">Base de Datos</a>
                </div>
            </div>
            <a href="./recursos.html">Recursos</a>
            <a href="#">Portfolio</a>
        </div>
    </nav>
    </nav>

    <div class="separador"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Contenedor 1 -->
        <div class="container">
            
        </div>

        <!-- Contenedor 2 -->
        <div class="container">
            
        </div>        
    </div>

    <script src="./assets/main.js"></script>
</body>
</html>
