<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Emmanuel Sierra</title>
    <link rel="stylesheet" href="./../estilos.css">
    <link rel="shortcut icon" href="./../img/develop.ico" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">Emmanuel Sierra</div>
        <div class="navbar-right">
            <a href="./../../index.html">Inicio</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Tips</a>
                <div class="dropdown-content">
                    <a href="./git.html">Git/GitHub</a>
                    <a href="./python.html">Python</a>
                    <a href="#">PHP / Laravel</a>
                    <a href="./bd.html">Base de Datos</a>
                </div>
            </div>
            <a href="#">Recursos</a>
            <a href="#">Portfolio</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Contenedor 1 -->
        <div class="container">
            <div class="logos">
                <img src="./../img/python.png" alt="Logo 2" class="logo">
            </div>
            <h2 class="subtitle">Crear Ambiente Virtual en Python</h2>
            <hr>
            <ul class="git-commands">
                <li class="titulo-explica">Para crear ambiente:</li>
                    <ul class="git-interno">
                        <li>python -m venv .venv</li>
                    </ul>
                <li class="titulo-explica">Para activar el ambiente creado:</li>
                    <ul class="git-interno">
                        <li>.venv\Scripts\activate (en CMD)</li>
                        <li>.venv\Scripts\activate.ps1 (en PowerShell)</li>
                    </ul>
                <li class="titulo-explica">Para desactivar ambiente:</li>
                    <ul class="git-interno">
                        <li>.venv\Scripts\deactivate.bat</li>
                    </ul>
            </ul>
        </div>

        <!-- Contenedor 2 -->
        <div class="container">
            <div class="logos">
                <img src="./../img/python.png" alt="Logo 2" class="logo">
            </div>
            <h2 class="subtitle">Instalar Paquetes Externos en Python</h2>
            <hr>
            <ul class="git-commands">
                <li class="titulo-explica">Para instalar los paquetes externos en Python se utiliza el gestor de paquetes pip, primero verificamos que lo tenemos instalado:</li>
                    <ul class="git-interno">
                        <li>pip --version</li>
                        <p>(Si nos sale un número de versión esta instalado, de lo contrario se tendrá que instalar)</p>
                    </ul>
                <li class="titulo-explica">Para instalar pip:</li>
                    <ul class="git-interno">
                        <li>python get-pip.py</li>
                    </ul>
                <li class="titulo-explica">Para instalar paquetes externos:</li>
                    <ul class="git-interno">
                        <li>pip install nombre_paquete</li>
                    </ul>
            </ul>
        </div>        
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Contenedor 1 -->
        <div class="container">
            <div class="logos">
                <img src="./../img/python.png" alt="Logo 2" class="logo">
            </div>
            <h2 class="subtitle">Ver Paquetes Instalados en Entorno Python</h2>
            <hr>
            <ul class="git-commands">
                <li class="titulo-explica">Para ver paquetes instalados:</li>
                    <ul class="git-interno">
                        <li>pip freeze</li>
                        <p>(Saldrá una lista de los paquetes instalados)</p>
                    </ul>
                <li class="titulo-explica">Para respaldar estos paquetes:</li>
                    <ul class="git-interno">
                        <li>pip freeze > requirements.txt</li>
                    </ul>
                <li class="titulo-explica">Luego se pueden instalar en otro entorno:</li>
                    <ul class="git-interno">
                        <li>pip install -r requirements.txt</li>
                    </ul>
            </ul>
        </div>

        <!-- Contenedor 2 -->
        <div class="container">
            
        </div>        
    </div>


</body>
</html>
